.link__portfolio::after{
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    margin-left: 10px;
    background-color: black;
    
    
} 

.link__portfolio::before{
    content: '';
    display: block;
    padding: 0;
    margin: 0;
    width: 25px;
    height: 3px;
    margin-left: 10px;
    background-color: transparent;    
} 

#content__portfolio{
    margin-top: 130px;
}

.proyecto1{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 60px;    
}

.description{
    margin-left: 25%;
    width: 50%;
}

.proyecto1 .description h3{
    font-size: 35px;
}

.proyecto1 .description p{
    font-size: 18px;
    color: #555;
}


.proyecto2{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20%;
    margin-top: 5px;
    margin-bottom: 60px;    
}

.proyecto2 .video{
    margin-left: 25%;
}

.proyecto2 .description2{
    order: 1;
}

.proyecto2 .video{
    order: 2;
}

.description2{
    display: flex;
    flex-direction: column;
}


.proyecto2 .description2 h3{
    font-size: 35px;
}

.proyecto2 .description2 p{
    font-size: 18px;
    color: #555;
}



.proyecto3{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20%;
    margin-top: 5px;
    margin-bottom: 60px;    
}

.description3{
    margin-left: 25%;
    width: 50%;
}

.proyecto3 .description3 h3{
    font-size: 35px;
}

.proyecto3 .description3 p{
    font-size: 18px;
    color: #555;
}


.proyecto4{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20%;
    margin-top: 5px;
    margin-bottom: 60px;    
}

.proyecto4 .video{
    margin-left: 25%;
}

.proyecto4 .description4{
    order: 1;
}

.proyecto4 .video{
    order: 2;
}

.description4{
    display: flex;
    flex-direction: column;
}


.proyecto4 .description4 h3{
    font-size: 35px;
}

.proyecto4 .description4 p{
    font-size: 18px;
    color: #555;
}


/* ---------------   responsive style ------------------*/

@media (max-width: 1215px) {
    
     #content__portfolio{
        margin-top: 170px;
    }

    .proyecto1{
        border: 1px solid orange;
        height: 800px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }

    .video{
        margin: 0 auto;
    }

    .proyecto2{
        border: 1px solid orange;
        height: 800px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0 auto;
        gap: 10px;
    }

    .description2{
        grid-row: 2 / 3;
    }

    .description2{
        border: 1px solid orange;
        width: 100%;
    }

    .video{
        
        grid-row: 1 / 2;
    }

    .proyecto3{
        border: 1px solid orange;
        height: 800px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0 auto;
    }

    .description3 .video{
       margin: 0 auto;
       padding: 10px;
    }
        
    .description3{
        margin: 0 auto;
        border: 1px solid orange;
        width: 100%;
    }

    
    .description2{
        border: 1px solid orange;
        width: 100%;
    }

    .proyecto4{
        border: 1px solid orange;
        height: 700px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0 auto;
    }

    .proyecto4 .video{
        margin: 0 auto;
        padding: 10;
    }

    .description{
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    }

/* --------------------------------------------------------- */

@media (max-width: 815px){

    
    .proyecto1{
        border: 1px solid orange;
        height: 800px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }

    .video{
        margin: 0 auto;
    }
    
    .proyecto2{
        height: 830px;
        margin-bottom: 10px;
    }

    
    .proyecto2 .video{
        margin: 0 auto;
    }

}




