
@font-face{
    font-family: 'At aero';
    src:url("/assets/fonts/at-aero-font-family-1743326293-0/AtAero-Air.otf") format("opentype");
    /*            */
    font-weight: normal;
    font-style: normal;
}

*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: '';
    font-family: "At aero";
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
}

#container{
    width: 100%;
    margin: 0px auto;
    border: 1px solid  rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #ccc;
    margin-bottom: 20px;
    min-height: 600px;
}

#header{
    margin-top: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}

#logotipo{
    height: 80px;
    margin: 0 auto;
}

#logotipo h1{
    height: 100%;
    margin-top: 8px;
    
}

#logotipo h1 a{
    /* flex-grow: 1; */
    flex-basis:25% ;
    font-size: 45px;
    padding: 10px;
    margin-left: 20px;
    color: #555;
    text-shadow: 1px 1px 0px #ccc;
}

#logotipo h1 a{
    font-weight: 700;
    font-size: 45px;
    color: #555;

}

#menu{
    flex-grow: 1;
    flex-basis:35%;
    height: 100%;
    padding:0 10px;
}

#menu ul{
    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 35px;
    justify-content: space-between;
    list-style: none;
}

#menu a{
    text-transform: uppercase;
    color: #444;
    font-family: "At Aero" ;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
    transition: all 300ms;
}

#menu a span:hover{
    padding: 7px 1px;
    border-radius: 5px;
    background: rgb(44, 42, 42);
    color: white;
} 

#menu .button{
    background-color: black;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    outline: none;
}
/* experimento */
 button {
    font-family: "At Aero Regular";
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: azure;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
} 

.button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(98, 17, 17), rgb(22, 22, 120), rgb(78, 74, 76), blue, rgb(106, 87, 87), blue, rgb(114, 62, 90), blue);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(10px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}


.container-social{
    /* flex-grow: 1; */
    flex-basis:15% ;
    height: 100%;
    margin-top: 7px;
    margin-right: 20px;
    padding:0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/* estilos de contenedor general */
#content{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}

/* estilos de la primera pagina */

.first-page{
    width: 75%;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.first-page .texto{
    width: 60%;
    height: 80%;
    margin: 0 35px 0 20px;
}

.first-page  .texto-largo{
    width: 100%;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 35px;
}

.first-page  .texto-corto{
    width: 100%;
    font-weight: 400;
    font-size: 28px;
    color: #555;
}

/* estilos de la segunda pagina */

.second-page{
    width: 75%;
    height: 600px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    transition: all 4s;
}

.abajo .p1{
    animation: mover-izquierda-derecha  1s 1;
    animation-fill-mode:forwards;
}
@keyframes mover-izquierda-derecha {
    from{
        transform: translateX(-800px);
        color: white;
        font-size: 3px;
    }
    to{
        transform: translateX(15px)
    }
}

.abajo .p2{
    animation: mover-derecha-izquierda  2s 1;
    animation-fill-mode:forwards;
}
@keyframes mover-derecha-izquierda {
    from{
        transform: translateX(2000px);
        color: white;
        font-size: 3px;
    }
    to{
        transform: translateX(20px)
    }
}

.abajo .p3{
   animation: mover-derechas-izquierda  3s 1;
    animation-fill-mode:forwards;
}
@keyframes mover-derechas-izquierda {
    from{
        transform: translateX(2000px);
        color: white;
        font-size: 3px;
    }
    to{
        transform: translateX(-50px)
    }
}

.second-page .p1{
    text-align: left;
    font-size: 100px;
    letter-spacing: 3px;
    font-weight: 350;
}

.second-page .p2{
    font-style: italic;
    text-align: center;
    font-size: 100px;
    letter-spacing: 3px;
    font-weight: 350;
}

.second-page .p3{
    text-align: right;
    font-size: 100px;
    letter-spacing: 3px;
    font-weight: 350;
}

/* estilos de la tercer pagina */

.third-page{
    width: 75%;
    min-height: 600px;
    /* overflow: hidden; */
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.third-page .presentation{
    /* border: 10px solid black; */
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.third-page .presentation .video{
    margin: 3%;
    height: 100%;
}

.third-page .boton{
    margin-top: 45px;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 7px auto;
    font-size: 40px;
    color: #555;
    letter-spacing: 2px;
}


.third-page .boton a{
    border: 1px solid rgb(101, 98, 98);
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 40px;
    font-weight: 350;
    color: black;
    letter-spacing: 2px;
    transition: all 300ms;
}

.third-page .boton a:hover{
   
    background: black;
    padding: 5px 16px;
    margin: 7px auto;
    font-size: 41px;
    color: white;
}

/* estilos cuarta pagina */


.fourth-page{
    width: 75%;
    height: 700px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.fourth-page__principal{
    margin: 25px;
    width: 55%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
    

}


.fourth-page__principal .contenido h3{
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 10px;
}


.fourth-page__principal .contenido p{
    font-size: 30px;
    text-align:justify;
    font-weight: 400;
    color: #555;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.fourth-page__principal .contenido span{
    font-size: 30px;
    text-align:justify;
    font-weight: 800;
    color: black;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.fourth-page__principal .contenido{
    margin-bottom: 30px;
}

.fourth-page__principal .link{
    margin: 7px auto;
    font-size: 40px;
    color: #555;
    letter-spacing: 2px;
}

.fourth-page__principal .link a{
    border: 1px solid rgb(101, 98, 98);
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 40px;
    font-weight: 350;
    color: black;
    letter-spacing: 2px;
    transition: all 300ms;
}

.fourth-page__principal .link a:hover{
   
    background: black;
    padding: 5px 16px;
    margin: 7px auto;
    font-size: 41px;
    color: white;
}

.readMore a{
    color: black;
    font-size: 24px;
}

.abrir_menu,
.cerrar_menu{
    display: none;
}


/* ---------------   responsive style ------------------*/

@media (max-width: 1215px) {
    #header{
        min-height: 130px;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr  1fr;
        grid-template-rows: 1fr 1fr;
    }

    #logotipo{
        margin: 0;
        padding: 0;
        /* border: 3px solid  black; */
    }
    
    .container-social{
        margin: 0;
        padding: 0;
        /* border: 2px  solid black; */
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-left: 200px;
    }

    
    #menu{
        margin: 0;
        padding: 0;
        /* border: 2px solid  black; */
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #content{
        margin-top: 130px;


    }

    .first-page  .texto-largo{
        font-size: 29px;
    }

    .first-page  .texto-corto{
        font-size: 24px;
    }

    #content .second-page .p1{
        font-size: 65px;
    }
    #content .second-page .p2{
        font-size: 65px;
    }
    #content .second-page .p3{
        font-size: 65px;
    }

    .third-page{
        min-height: 1200px;
    }

    .third-page .presentation{
        display: grid;
        grid-template-columns: 1fr  1fr;
        grid-template-rows: 1fr 1fr;
    }

    .fourth-page{
        height: 800px;
       
    }

    /* ------------------------------------------- */

    
.fourth-page{
    width: 75%;
    height: 700px;
    /* overflow: hidden; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.fourth-page__principal{
    margin: 0 auto;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
  
}

.fourth-page__principal .contenido h3{
    font-size: 45px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}


.fourth-page__principal .contenido p{
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.fourth-page__principal .contenido span{
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.fourth-page__principal .contenido{
    margin-bottom: 20px;
}

.fourth-page__principal .link{
    margin: 4px auto;
    font-size: 30px;
    color: #555;
    letter-spacing: 2px;
}

.abrir_menu{
    display: none;
}

}

/* --------------------------------------------------------- */

@media (max-width: 815px){
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   #header{
    background-color: rgb(198, 204, 202);
   }

   .cerrar_menu{
    font-size: 24px;
    font-weight: 900;

   }
     
   .abrir_menu,
   .cerrar_menu{
      display: block;
      background-color: transparent;
      font-weight: bold;
      color: black;
    }

   #menu{
    opacity: 0;
    visibility: hidden;
   }

   #menu{
      background-color: #ececec;
      height: 100vh;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1.5rem;
    }

    #menu.visible{
        opacity: 1;
        visibility: visible;
    }

   #menu .ul_links {
    height: auto;
    gap: 95px;
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content:space-evenly;
    
    }

    #menu .ul_links  a{
        font-size: 16px;
        font-weight: 900;
    }

    .container-social .abrir_menu{
        padding: 0;
        margin-top: -10px;
        border-radius: 5px;
        width: 29px;
        height: 25px;
        background-color: transparent;
        color: black;
    }

    .container-social{
        margin:0;
        padding: 0;
        /* border: 2px  solid black; */
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin-left: 40px; 
    }

    /* -------------------- ajuste de contenido ------------------ */
    .first-page{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        min-height: 920px;
    }

    .first-page .video{
        margin: 0 auto;
    }

    .first-page .texto{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .third-page{
        min-height: 1700px;
    }

    .third-page .presentation{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
    }

    
.third-page .boton a{
    border: 1px solid rgb(101, 98, 98);
    border-radius: 5px;
    padding: 3px 12px;
    font-size: 22px;
    font-weight: 900;
    color: black;
    letter-spacing: 1px;
    transition: all 300ms;
    
}

.third-page .boton a:hover{
   
    background: black;
    padding: 4px 14px;
    font-weight: 900;
    margin: 5px auto;
    font-size: 26px;
    color: white;
}


    .proyectouno, .proyectodos, .proyectotres{
        display: flex;
        justify-content: center;
        align-items: center;
    }

 
.fourth-page{
    height: 950px;
}
.fourth-page__principal .link a{
    border: 1px solid rgb(101, 98, 98);
    border-radius: 5px;
    padding: 3px 12px;
    font-size: 22px;
    font-weight: 900;
    color: black;
    letter-spacing: 1px;
    transition: all 300ms;
}

.fourth-page__principal .link a:hover{
   
    background: black;
    padding: 4px 14px;
    font-weight: 900;
    margin: 5px auto;
    font-size: 26px;
    color: white;
}


#content .second-page .p1{
    font-size: 35px;
}
#content .second-page .p2{
    font-size: 35px;
}
#content .second-page .p3{
    font-size: 35px;
    text-align: end;
}

}








