.link__about::after{
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    margin-left: 10px;
    background-color: black;
    
    
} 

.link__about::before{
    content: '';
    display: block;
    padding: 0;
    margin: 0;
    width: 25px;
    height: 3px;
    margin-left: 10px;
    background-color: transparent;    
} 


#content__about{
    margin-top: 130px;
}